<header class="page-header">
  <div class="header-img" style="
        background-image:url(http://rhydycarwest.com/workspace/uploads/images/rhydycar_west_landscape-1-5b1003318091d.jpg)
      "></div>
  <div class="header-background-colour" style="background-color: #ffe49e"></div>
  <div class="header-content has-background has-flex">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell xsmall-12 page-title">
          <h1>Ecology</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="main">
  <section class=" ">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell xsmall-12 medium-10 medium-offset-1">
          <h3>Working Sensitively With the Site</h3>
          <p>Much of Rhydycar West is ecologically rich, with parts being designated as SSSI (Site of Special Scientific Interest) or SINC (Site of Importance for Nature Conservation). The first step in designing the aspiring regeneration scheme was to fully understand the environment across the site and to use that knowledge to design in harmony with the landscape.</p>
          <p>Surveys have been carried out on habitats and plant species, birds (winter and spring/summer), amphibians and reptiles, dormice, bats, badgers and invertebrates including butterflies. The known importance of various parts of the site for grassland fungi (such as waxcaps) has also been assessed by specialist surveys.</p>
          <p>We know that these designations, and the species and habitats that underpin them, present a challenge to achieving the project, but we are determined to work with these constraints as far as possible. Over 70% of the site will remain undeveloped and careful planning will ensure development components are sited sensitively and that unavoidable damage is mitigated or compensated.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell xsmall-12 medium-10 medium-offset-1">
          <p class="statement">70% of the site will remain undeveloped</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell xsmall-12 small-6 large-4">
          <img src="{{root}}assets/img/rhydycar_west_redevelopment.jpeg" alt>
        </div>
        <div class="cell xsmall-12 small-6">
            <p>The non-wooded areas of the site include areas of mire and marshy grassland habitat dominated by purple moor grass and with Sphagnum mosses in places. There are drier acid grasslands and heath on freer draining ground, including the landscapes created by former mining activity.</p>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="grid-container">
      <div class="grid-x grid-margin-x ">
        <div class="cell xsmall-12 small-6">
          <p>The more free-draining areas of grassland on the site support an extremely diverse assemblage of grassland fungi, including waxcaps, earth-tongues and fairy-clubs. The damp grasslands also make an ideal home for marsh fritillary – a gorgeous russet chequerboard patterned butterfly – that flies in May and June.</p>
        </div>
        <div class="cell xsmall-12 small-6 large-4">
          <img class="u-max-full-width" src="{{root}}assets/img/mushroom.jpg" alt>
        </div>

      </div>
    </div>
  </section>
  <section class="text-and-img ">
    <div class="grid-container wider">
      <div class="grid-x grid-margin-x">
        <div class="cell xsmall-12 small-6 large-4 img-col left">
          <img class="u-max-full-width" src="{{root}}assets/img/rhydycar_west_landscape.jpg" alt>
        </div>
        <div class="cell xsmall-12 small-6 text-col right">
            <p>The upland areas of woodland in the west of the site support iconic ‘western’ species of bird such as redstart and wood warbler. The heathy slopes reverberate in summer to the nocturnal purring of the nightjar.</p>
            <p>Surveys have shown that the site supports several bat species, including the greater horseshoe bat, and the bizarre looking barbastelle. Stream courses are important for them with some species, such as the lesser horseshoe, roosting in the historic structures on the site. All work will be carried out so as not to disrupt these creatures in their home.</p>
        </div>
      </div>
    </div>
  </section>

</main>
