
<header class="page-header">
  <div class="header-img" style="background-image:url(benjamin-manley-515701-unsplash.jpg)"></div>
  <div class="header-background-colour" style="background-color: #ec8a22"></div>
  <div class="header-content has-background has-flex">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell xsmall-12 page-title">
          <h1>Elements</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="main">
  <section class="just-text ">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell xsmall-12 medium-10 medium-offset-1">
          <h2>Our three signature sports and leisure facilities are all indoor.</h2>
          <p>So you can play in the snow, ride in the dirt and splash in the water every day of the year – regardless of the weather.</p>
          <p>Complementing other local sports offerings like Bike Park Wales and Rock UK, Rhydycar West will provide the largest indoor sports and leisure facilities in the area and we will undoubtedly become one of the premiere tourist destinations for the South Wales Valleys. For all year round. That's Rhydycar West.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="text-and-img ">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">

        <div class="cell xsmall-12 small-6 text-col left col-fix-margin">
          <div style="float: right; max-width: 625px;">
            <h3>Accommodation</h3>
            <p>There is a style of accommodation to suit every taste at Rhydycar West.</p>
            <p>A spa hotel complete with conference facilities, a sport hotel to wind down following a days’ cycling, a private lodge nestled in the forest or glamping by candlelight.  However you like to spend your day, as evening approaches you can relax as you wish at Rhydycar West. </p>
          </div>
        </div>
        <div class="cell xsmall-12 small-6">
          <img class="u-max-full-width" src="{{root}}assets/img/accommodation-01.png" alt>
        </div>

      </div>
    </div>
  </section>
  <section class="text-and-img ">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell xsmall-12 small-6 large img-col left">
          <img class="u-max-full-width" src="{{root}}assets/img/water_park-01.png" alt>
        </div>
        <div class="cell xsmall-12 small-6 text-col">
          <div style="float: left; max-width: 625px;">
            <h3>Waterpark</h3>
            <p>Rhydycar West has really splashed out with plans for one of the largest indoor water parks in the UK. Complete with an indoor surf simulator you can ride the waves, fly down flumes, or paddle in the pool. The choice is yours.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-and-img ">
    <div class="grid-container">
      <div class="grid-x grid-margin-x ">
        <div class="cell xsmall-12 small-6 text-col left col-fix-margin">
          <div style="float: right; max-width: 625px;">
            <h3>Homes</h3>
            <p>A new neighbourhood - live right next door to a first-class sports & leisure destination, yet still close to town. Rhydycar West offers the best of both worlds with residential housing located in the beautiful Welsh countryside close to all local amenities.</p>
          </div>
        </div>
        <div class="cell xsmall-12 small-6 large img-col u-pull-right right">
          <img class="u-max-full-width" src="{{root}}assets/img/housing-01.png" alt>
        </div>

      </div>
    </div>
  </section>
  <section class="text-and-img ">
    <div class="grid-container">
      <div class="grid-x flex-sm">
        <div class="xsmall-12 small-6 large img-col left">
          <img class="u-max-full-width" src="{{root}}assets/img/snow_centre-01.png" alt>
        </div>
        <div class="xsmall-12 small-6 text-col right">
          <div style="float: left; max-width: 625px;">
            <h2>Indoor Snow Centre</h2>
            <p>We are working with Snowsport Wales to create a national Centre of Excellence for Snowsport. Rhydycar West would one of the longest such facilities in Europe, with challenging runs for professionals, right down to beginner slopes for first timers.</p>
            <p>Producing real snow in a controlled atmosphere means there are perfect conditions 365 days of the year. And with the inclusion of snow play, tubing, ice climbing and other winter activities, there is fun for absolutely everyone, anytime.</p>
            <p>This snow centre would be based on similar successful snow centres, particularly those in <a href="../../elements/continental-europe/index.html" style="font-size: 20px; color: red;">continental Europe.</a></p>
            <h3>Olympic connection?</h3>
            <p>Because Team GB currently train off-season indoors in Europe, it is our goal to help them to meet their ambitious targets for the Olympics in 2030, while remaining at home.</p>
            <p>We also have plans in place to work with local schools and clubs to encourage and inspire our youngsters to experience winter sports, a chance they may never get otherwise. We want the next generation of winter Olympic athletes to hail from Wales. <a href="../../elements/gb-2030/index.html" style="font-size: 20px; color: red;">GB 2030</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-and-img ">
    <div class="grid-container">
      <div class="grid-x grid-margin-x ">
        <div class="cell xsmall-12 small-6 text-col left col-fix-margin">
          <div style="float: right; max-width: 625px;">
            <h3>Outdoor Fun</h3>
            <p>Great activities like ziplining, mountain coaster, airpark or equestrian centre as well as bike paths and nature trails to enjoy.</p>
          </div>
        </div>
        <div class="cell xsmall-12 small-6 large img-col u-pull-right right">
          <img class="u-max-full-width" src="{{root}}assets/img/ourdoor_fun-01.png" alt>
        </div>

      </div>
    </div>
  </section>

</main>
