<header class="page-header">
  <div class="header-img" style="
          background-image:url(luke-ellis-craven-237367.jpg)
        "></div>
  <div class="header-content has-background has-flex">
    <div class="grid-container">
      <div class="grid-x">
        <div class="xsmall-12 page-title">
          <h1>Get In Touch</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="main">
  <section class="just-text ">
    <div class="grid-container">
      <div class="grid-x">
        <div class="xsmall-12 medium-10 medium-offset-1">
          <p>Whether you want to find out more about the proposals, or you have any suggestions on our emerging plans, please get in touch. Your opinion means a lot to us and we take all feedback on board so that we can create a destination with something for everyone.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="rsvp">
    <div class="grid-container">
      <div class="xsmall-12 medium-10 medium-offset-1">
        <form method="post" action="https://formspree.io/info@rhydycarwest.com" enctype="multipart/form-data">
          <label class="block ">
            <div>Name (optional)</div>
            <input type="text" name="Name">
          </label>
          <label class="block ">
            <div>Email (optional)</div>
            <input type="email" name="_replyto">
          </label>
          <label class="block ">
            <div>Comments</div>
            <textarea name="comments" grid-xs="10"></textarea>
          </label>
          <div class="checkbox-grid-container ">
            <label class="checkbox">
              <input name="privacy" type="checkbox" value="yes">
              <span class="checkbox"></span>
              <span class="text">I agree to privacy policy</span>
            </label>
          </div>
          <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
          <div class="submit-grid-container">
            <input class="submit" name="submit" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
