<header class="page-header">
  <div class="header-img" style="
        background-image:url(rhydycar_west_heritage.jpg)
      "></div>
  <div class="header-background-colour" style="background-color: #71e5d2"></div>
  <div class="header-content has-background has-flex">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell xsmall-12 page-title">
          <h1>Heritage</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="main">
  <section class="just-text no-bottom-padding">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell xsmall-12 medium-10 medium-offset-1">
          <p>Rhydycar West is rich in heritage, and preserving and celebrating the site’s precious history is central to our development.</p>
          <p>The site’s plentiful supplies of iron and coal contributed significantly to the industrial revolution and beyond, up until the mid-20th Century.  Prior to that the land was an important site for the period of religious dissent in Wales.</p>
          <p>Important remains of this history are scattered across the site.  Unfortunately some of these are degrading and disappearing, which is why a focus of our development is to ensure that key ancient monuments are brought back to life and protected for the enjoyment of generations to come.</p>
          <p>We have worked with CADW to schedule six further historical monuments on the site, and our ambition is to enable people to experience and understand the historic importance of the land and its contribution to the greater Merthyr story.</p>
          <p> </p>
        </div>
      </div>
    </div>
  </section>
  <section class="text-and-img less-bottom-padding">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell xsmall-12 small-6 large-4 img-col left">
          <img class="u-max-full-width" src="{{root}}assets/img/railway_cutting.jpg" alt>
        </div>
        <div class="cell xsmall-12 small-6 text-col right">
          <div style="float: left; max-width: 625px;">
            <p>The site has been almost untouched since the mid-20th Century, but Rhydycar West has a rich history dating back to prehistoric times. </p>
            <div class="item-cta-grid-container">
              <a href="../site-history/index.html" class="item-cta">
                <span class="buttontxt">Explore the Site's History</span>
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-and-img ">
    <div class="grid-container">
      <div class="grid-x grid-margin-x ">
        <div class="cell xsmall-12 small-6 large-4 ">
          <img class="u-max-full-width" src="{{root}}assets/img/mineshaft_gear.jpg" alt>
        </div>
        <div class="cell xsmall-12 small-6">
          <div style="float: right; max-width: 625px;">
            <p>Our cherished monuments, which tell so many tales about our home, are scattered around our land. It is our mission to restore these regional treasures and return them to their former glory.</p>
            <div class="item-cta-grid-container">
              <a href="monuments/index.html" class="item-cta">
                <span class="buttontxt">Explore the Site's Historic Monuments</span>
                <i class="fas fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
