<header class="page-header">
  <div class="header-img" style="
        background-image:url({{root}}assets/img/rhydycar_west_wall.jpg)
      "></div>
  <div class="header-background-colour" style="background-color: #9cdeef"></div>
  <div class="header-content has-background has-flex">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell xsmall-12 page-title">
          <h1>Site History</h1>
        </div>
        <div class="xsmall-12 small-9 medium-8 large-6 page-blurb">
          <p>The site has been almost untouched since the mid-20th Century, but Rhydycar West has a long history which was particularly rich during the Age of Dissent and the Industrial Revolution.</p>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="main">
  <section class="just-text ">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell xsmall-12 medium-10 medium-offset-1">
          <h3>The Site in Prehistory</h3>
          <p>Evidence to show the history of the site and its surroundings is sparse – in part because of the lack of systematic archaeological investigation and also because of ‘poor visibility’ due to the intense industrial activity around Merthyr in the 18th & 19th centuries.</p>
          <p>The likelihood is that the area was settled - to some degree - from at least the Bronze Age, with memorial monuments such as round gravestones spread across the elevated ground around Merthyr Tydfil.</p>
          <p>The area most likely comprised a mixture of agricultural fields, woodland in the delves and stream valleys and moorland or heath on the high ground between the principal river valleys.</p>
          <p>This would only have changed slightly moving into the Iron Age, where the nearest recorded evidence for a human presence is more than a kilometre away, where the remains of a hut settlement have previously been identified on the western slopes of Mynydd, Aberdare.</p>
          <p>The site and its surroundings are rich in minerals, with iron ore especially appearing close to the surface in the stream valleys. It is possible that these accessible natural resources could have proved attractive to settlement in the Iron Age, but any evidence will have been concealed or destroyed by subsequent exploitation of the same deposits in more recent times.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="just-text ">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell xsmall-12 medium-10 medium-offset-1">
          <h3>The Roman Occupation</h3>
          <p>The Romans did not leave their mark on the site, but this may in part reflect the intensity of later activity between the 17th and 20th centuries which was focused on the exploitation and transportation of the area’s significant mineral wealth.</p>
          <p>There was certainly a Roman military presence in the area, and the mineral resources located close to the surface would no doubt have been attractive in the same way that they were elsewhere in Wales.</p>
          <p>Roman activity was probably focused on the fort at Pen-y-Darren (on the SE side of Merthyr), which was connected to the wider arrangement of similar forts in south and mid Wales by the network of roads engineered and built by the army. </p>
        </div>
      </div>
    </div>
  </section>
  <section class="just-text ">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell xsmall-12 medium-10 medium-offset-1">
          <h3>The Middle Ages</h3>
          <p>A settlement is recorded in Methyr in the Middle Ages, but little is known about its form and function. It had most probably declined and been abandoned by the 17th century, when the area is recorded as only containing shepherds.</p>
          <p>The likelihood is that medieval Merthyr grew up around a crossing point on the River Taff, but there is no evidence it was anything more substantial than a village. Its economy was probably based around agricultural and some passing commerce.</p>
          <p>The only recorded evidence for the appearance of the site in the Middle Ages refers to a large meadow alongside the Nant Cwm Glo, which suggests at least some animal grazing on the slopes of the Taff Valley.</p>
          <p>Some of the farmsteads recorded at and around the site on 19th century maps may have medieval origins, but more certain evidence for medieval agricultural can be drawn from the patchwork of irregularly shaped enclosures which still survive.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="just-text ">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell xsmall-12 medium-10 medium-offset-1">
          <h3>The Age of Dissent</h3>
          <p>A feature of the pre-industrial landscape in the area is an historical association with early non-conformist Christianity, best exemplified by the remains of Cwm Glo Chapel found on the site.</p>
          <p>The landscape of densely wooded delves and secluded stream valleys, which still makes movement challenging today, would have been attractive for non-conformists looking to hold meetings out of the way of prying eyes and the reach of the authorities.</p>
          <p>This association with non-conformity is best exemplified by the remains of Cwm Glo Chapel; now designated as a scheduled monument because of the national importance of its standing fabric and archaeological remains.</p>
          <p>However, other historic farmsteads, such as Cwm Glo and Blaen Canaid also have important historical associations with these groups because they provided meeting places in the early days.</p>
          <p>This was a period of rapid change around Methyr – as well as across the country; with the agricultural landscape being increasingly opened up and exploited for small scale mineral extraction from the 17th century onwards.</p>
          <p>This  industrialisation transformed the landscape within the site; the farmstead at Pen-y-Coedcae became mine workers’ accommodation, while the farm at Cwm Du eventually disappeared altogether beneath a spoil heap.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="just-text ">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell xsmall-12 medium-10 medium-offset-1">
          <h3>The Age of Industry</h3>
          <p>The 18th and 19th centuries represent a period of intense industrial activity in and around Merthyr. The manufacture of iron products from the rich resources of timber, coal and iron ore transformed this small village into the largest town in Wales. A significant amount of that coal came from the site at Rhydycar West.</p>
          <p>The Cyfarthfa Ironworks (opened in 1766) is perhaps the most famous of the early iron producers of Merthyr, but it was not the only one; Dowlais, Plymouth and Penydarren were also significant players in this early industry.</p>
          <p>William Crawshay’s ironworks drew mineral resources from a wide area, requiring the construction of a canal from the Nant Canaid valley up the west side of the Taff Valley to feed the blast furnaces with coal and iron ore from the Cyfarthfa Estate at and around the site.</p>
          <p>Even today, the site illustrates the development of mining technology which would make Merthyr one of the most important towns of the industrial revolution.</p>
          <p>Early mining was based on surface scouring and patching for shallow deposits; but as those were worked out a system of horizontally driven shafts (or ‘levels’) were excavated into the hillsides to exploit more deeply buried mineral ores and coal seams.</p>
          <p>The increasing need to access deeper and deeper coal seams in the 19th century saw a transition to vertically dug shafts, with water power used to lower miners down to the workings and to lift coal to the surface.</p>
          <p>This period also witnessed the development of an extensive network of inclines and tramways to transport mineral resources and connect into the railway system. By 1841, this linked Merthyr with Cardiff and the rest of the world via the increasingly large complex of docks and basins being developed by the Marquis of Bute.</p>
          <p>The area’s industrial exploitation reached its peak in the late 19th century, when seven deep pits were in operation at the site; Black Pins, Cwm Du, Cwm Glo, Coed Cae, Glyn-Dyrys, Cwm and Lower Colliers grid-x grid-margin-x.</p>
          <p>Cyfarthfa Ironworks closed in 1910 (although it re-opened briefly during World War One), and coal mining at and around the site declined rapidly from the 1920s onwards.</p>
        </div>
      </div>
    </div>
  </section>
</main>
