
    <header class="page-header">
      <div class="header-img" style="
						background-image:url(jake-melara.jpg)
					"></div>
      <div class="header-background-colour" style="background-color: #ffe49e"></div>
      <div class="header-content has-background has-flex">
        <div class="grid-container">
          <div class="grid-x">
            <div class="cell small-12 page-title">
              <h1>The Scheme</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="main">
      <section class="just-text ">
        <div class="grid-container">
          <div class="grid-x">
            <div class="cell small-12 medium-10 medium-offset-1">
              <h2>There is no one way to describe Rhydycar West.</h2>
              <p>Having acquired the site in 2013, we approached this scheme as a blank canvas, and we have spent extensive time and resources understanding in detail the unique ecological and heritage features of the site, and how we can design a scheme to work sensitively.</p>
              <p>The regeneration successes in recent years in the region such as Redhouse Cymru, Merthyr College and retail offerings such as Cyfarthfa Retail Park and Trago Mills demonstrate that the region is focussed on economic development.</p>
              <p>There is also clearly a focus on developing the area for adventure sport. With the success of Bike Park Wales and Rock UK, a sports & leisure destination is well-positioned to build on that momentum.</p>
              <p>In terms of housing, a new residential neighbourhood supports the local need to develop more long-term supply. Connecting an existing neighbourhood with an iconic sports & leisure destination right on the doorstep, Rhydycar West is a perfect location for new homes.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="large-img">
        <div class="grid-container full-width img-col">
          <img class="u-max-full-width" src="{{root}}assets/img/rhydycar-sketch-with-develop.jpg" alt="Rhydycar West Artist Impression">
        </div>
      </section>
      <section>
        <div class="grid-container">
          <div class="grid-x">
            <div class="cell small-12 medium-10 medium-offset-1">
              <h3>Current Plan</h3>
              <p>As to detail, we have been engaged in dialogue with stakeholders and interested community members. We will be continuing to discuss and refine our plans over the coming months, culminating in the submission of a planning application.</p>
              <p class="statement">No coal extraction</p>
            </div>
          </div>
        </div>
      </section>

      <section class="just-text ">
        <div class="grid-container">
          <div class="grid-x">
            <div class="cell small-12 medium-10 medium-offset-1">
              <h3>The Elements</h3>
              <p>As an iconic sports & leisure destination, complete with a new neighbourhood right next door, but only developing 30% of the site, we’ve tried to address a wide range of interests, and we are always open to suggestions as to other things we might include in the scheme.</p>
              <p class="statement">70% of the site will be undeveloped</p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-6 large-4">
              <img src="{{root}}assets/img/scheme_elements.png" alt>
            </div>
            <div class="cell small-12 medium-6 large-8">
              <div>
                <p><strong>The current accommodation elements of the plan include:</strong><br>
A spa hotel<br>
A sport hotel<br>
Log cabins and glamping area<br>
A new residential neighbourhood</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="text-and-img ">
        <div class="grid-container">
          <div class="grid-x grid-margin-x">
            <div class="cell small-12 small-6 large-4 img-col u-pull-right right">
              <img class="u-max-full-width" src="{{root}}assets/img/scheme_elements-02.png" alt>
            </div>
            <div class="cell small-12 small-6 text-col left col-fix-margin">
              <div style="float: right; max-width: 625px;">
                <p><strong>And once you’re settled in and ready to explore there’s lots to choose from!</strong><br>
Indoor skiing and snowboarding<br>
Indoor biking and skateboarding<br>
Indoor waterpark</p>
                <p>Including ziplines, mountain coaster, airpark, equestrian centre, heritage trails and bike paths<br>
 </p>
                <p> </p>
                <h3>This is Rhydycar West!</h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="just-text ">
        <div class="grid-container">
          <div class="grid-x">
            <div class="small-12 medium-10 medium-offset-1">
              <p>      </p>
            </div>
            <div class="small-12 text-center">
              <a href="/elements.html" class="button">Find Out More About the Elements of the Scheme
                <i class="fi fi-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
